[Unit]
Description="Turn keyboard backlight on/off based on light sensor"

[Service]
Type=exec
Environment=SENSOR=/sys/bus/iio/devices/iio:device*/in_illuminance_raw
Environment=TRIGGER=/sys/class/leds/tpacpi::kbd_backlight/brightness
Environment=THRESHOLD=2000
Environment=VALUE=1
User=root
ExecStart=bash -c "(( $(cat ${SENSOR}) < ${THRESHOLD} )) && echo ${VALUE} > ${TRIGGER} || echo 0 > ${TRIGGER}"

[Install]
WantedBy=multi-user.target

