[Unit]
Description="Turn keyboard backlight on/off based on light sensor"

[Service]
Type=exec
User=root
ExecStart=/usr/sbin/thinkpad-keyboard-brightness

[Install]
WantedBy=multi-user.target

